*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: center;
    color: dimgrey;
}
.class{
    text-align: center;
}
button{
    background-color: #008CBA;
    border-radius: 2px;
}